@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:ital,wght@0,400;0,500;0,700;1,400;1,500;1,700&display=swap');

body {
    background-color: #FAFAFA; }

::selection {
  color: #ffffff;
    background: #AEC399; }

@media screen and (min-width: 480px) {

/* div central */

.main {
 width:100%;
 height: auto;
}

/* Add a black background color to the top navigation */
.topnav {
  background-color: transparent;
  overflow: hidden;
}

/* Style the links inside the navigation bar */
.topnav a {
  float: left;
  font-family: 'IBM Plex Sans', sans-serif;
  color: #333333;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

/* Change the color of links on hover */
.topnav a:hover {
  background-color: #ddd;
  text-decoration: underline;
  text-decoration-color: #72ae9f;
}

/* Add a color to the active/current link */
.topnav a.active {
  background-color: transparent;
  color: white;
}

/* destaques textuais */
    
h1 {
    font-family: 'Space Mono', monospace;
    color: #ffffff;
    font-size: 43px;
    text-transform: uppercase;
}

h2 {
    font-family: 'Space Mono', monospace;
    color: #ffffff;
    font-size: 16px;
    text-transform: uppercase;
}

h3 {
    font-family: 'Space Mono', monospace;
    font-size: 12px;
    color: #AEC399;
}

h6 {
    font-family: 'Montserrat', sans-serif;
    font-size: 12px;
    color: #ffffff;
    text-align: justify;
    text-justify: inter-word;
}

/* parágrafos e underline */
p {
    font-family: 'Montserrat', sans-serif;
    color: #ffffff;
    font-size: 12px;
    text-align: justify;
    text-justify: inter-word;
}

u { 
    color: #AEC399;
}


 
/* links */
    
    a:link {
  text-decoration: none;
}

a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
  color: #AEC399;
}

a:active {
  text-decoration: none;
}
